﻿body {
}
/*CreateNewPage and UpdatePage form */
 h1 {
    color: #990000;
    padding-bottom: 40px;
}
#MainContent_addPageBtn, #MainContent_del_page_btn {
    padding: 7px;
    border: solid 1px #990000;
    border-radius: 5px;
    color: #990000;
    background: #f3f3f3;
    margin:20px;
}
    #MainContent_addPageBtn:hover, #MainContent_del_page_btn:hover {
        color: #ffffff;
        background: #990000;
    }
.pageInputBox, .pageInputBoxA {
        margin: 10px 10px;
}

.pageInputBox label {
        float: left;
        color: #990000;
        margin-right: 65px;
    }
    

.pageInputBoxA label {
    float: left;
    color: #990000;
    margin-right: 9px;
}


