﻿body {
    
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*Navigation*/

#nav{
    background:#f3f3f3;
}
#nav a {
        color: #990000;
}
#nav a:hover {
   color: #808080;
}

/*List of MyPages page*/
#pageGrid{
    margin-top:40px;
}


.gridTableRow {
    transition: background 200ms;
}

.gridTableRow:hover {
    background: #ede0de !important;
}




    


