﻿
#MainContent_pages_menu_pages_display{
    float:right;
    margin:30px;
}
#MainContent_pages_menu_pages_display li {
    display: inline-block;
    padding: 5px;
}
#MainContent_pages_menu_pages_display a {
    color: #808080;
    text-transform:uppercase;
}
#MainContent_pages_menu_pages_display a:hover{
    color:#990000;
}

