﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PageBox.ascx.cs" Inherits="CMS_trial.usercontrols.PageBox" %>


<asp:SqlDataSource 
    runat="server" 
    ID="pages_list_menu"
    ConnectionString="<%$ ConnectionStrings:Pages_connection %>">
</asp:SqlDataSource>

<div id="pages_display" runat="server">
</div>