﻿  <%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="CMS_trial._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Cherry CMS</h1>
        <p class="lead">Here you can find a place for your ideas</p>
        <p><a href="http://localhost:52860/Mypages" class="btn btn-primary btn-lg">My Pages &raquo;</a></p>
    </div>

    

</asp:Content>
