﻿body {
}
.jumbotron {
    background-image: url('../img/cherries.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    z-index: -1;
    color: #ffe6e6;
}
    
footer {
    clear: both;
    border-top: solid 2px #990000;
    padding: 5px;
}
